name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: wbs_db   # دیتابیس اصلی
        options: >-
          --health-cmd "pg_isready -U postgres -d wbs_db"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.25'

      - name: Download dependencies
        run: go mod download

      - name: Wait for Postgres
        run: |
          echo "Waiting for Postgres to be ready..."
          for i in {1..10}; do
            pg_isready -h localhost -p 5432 -U postgres && break
            sleep 3
          done
        env:
          PGPASSWORD: password

      - name: Run migrations
        env:
          DB_USER: postgres
          DB_PASSWORD: password
          DB_HOST: localhost
          DB_PORT: 5432
          DB_NAME: wbs_db
        run: go run cmd/cli/main.go

      - name: Install PostgreSQL client
        run: sudo apt-get update && sudo apt-get install -y postgresql-client

      - name: Create test database
        run: |
          psql -h localhost -p 5432 -U postgres -c "CREATE DATABASE wbs_db_test;"
        env:
          PGPASSWORD: password

      - name: Run tests
        env:
          TEST_DATABASE_URL: postgres://postgres:password@localhost:5432/wbs_db_test?sslmode=disable
        run: go test ./... -v

      - name: Build
        run: go build -o bin/wallet ./cmd/main.go
